.grid-container {
    display: grid;
    grid-template-columns: 
        calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px)
        calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px)
        calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px) calc(var(--pixel-scale) * 18px);
}

.row {
    display: flex;
    align-items: center;
}