:root {
    --item-light-border: white;
    --item-gray-border: #8c8c8c;
    --item-dark-border: #383838;
}

.item-slot {
    width: calc(var(--pixel-scale) * 18px);
    height: calc(var(--pixel-scale) * 18px);
    background: #8b8b8b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        /* Esquerda */
        inset calc(var(--pixel-scale) * 1px) calc(var(--pixel-scale) * 1px) calc(var(--pixel-scale) * 0px) calc(var(--pixel-scale) * 0px) var(--item-dark-border),
        inset calc(var(--pixel-scale) * -1px) calc(var(--pixel-scale) * -1px) calc(var(--pixel-scale) * 0px) calc(var(--pixel-scale) * 0px) var(--item-light-border),
        inset calc(var(--pixel-scale) * 1px) calc(var(--pixel-scale) * 1px) calc(var(--pixel-scale) * 0px) calc(var(--pixel-scale) * 0px) var(--item-gray-border);
}

.item-slot > div {
    width: calc(var(--pixel-scale) * 18px);
    height: calc(var(--pixel-scale) * 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-image {
    width: 90%;
    height: 90%;
    image-rendering: pixelated;
    transform: translate(0, 0);
}

.hover-container {
    width: 100%;
    height: 100%;
    position: absolute;
    /* pointer-events: none; */
}

.hover-container:active {
	pointer-events: none;
}

.hover-container:hover {
    background: #ffffff55;
}

.quantity {
    position: absolute;
    right: 2px;
    bottom: -4px;
    font-family: Minecraft;
    color: white;
    font-size: 20pt;
    text-shadow: 3px 3px 1px #000000DD;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
}