html {
  background-image: url("bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  padding: 20px;
}

.hand-hit-button-container {
  display: flex;
  align-items: center;
}

.hand-hit-button-container > .item-slot {
  margin-top: 13px;
  margin-right: 6px;
}

.column {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Minecraft;
  src: url('font/Minecraft.ttf');
}