html {
  background-image: url("bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  padding: 20px;
}

@font-face {
  font-family: Minecraft;
  src: url('font/Minecraft.ttf');
}